# IGNORE EVERYTHING
*

# directories
!.vscode/
!.vscode/**
!.github/
!.github/**
!packages/
!packages/**

# development
!.devcontainer/
!.devcontainer/devcontainer.json
!.devcontainer/Dockerfile

# files
!.gitignore
!package.json
!pnpm-workspace.yaml
!pnpm-lock.yaml
!LICENSE
!README.md